@model PersonalJournal.Models.Models.JournalEntry

@{
    ViewData["Title"] = "Edit Journal Entry";
}

<h1>Edit</h1>

<h4>JournalEntry</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoodId" class="control-label"></label>
                <select asp-for="MoodId" class="form-control" asp-items="ViewBag.MoodId"></select>
                <span asp-validation-for="MoodId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTime" class="control-label"></label>
                <input asp-for="DateTime" class="form-control" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubsectionId1" class="control-label"></label>
                <select asp-for="SubsectionId1" class="form-control" asp-items="ViewBag.SubsectionId1"></select>
                <span asp-validation-for="SubsectionId1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubsectionText1" class="control-label"></label>
                <input asp-for="SubsectionText1" class="form-control" />
                <span asp-validation-for="SubsectionText1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubsectionId2" class="control-label"></label>
                <select asp-for="SubsectionId2" class="form-control" asp-items="ViewBag.SubsectionId2"></select>
                <span asp-validation-for="SubsectionId2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubsectionText2" class="control-label"></label>
                <input asp-for="SubsectionText2" class="form-control" />
                <span asp-validation-for="SubsectionText2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubsectionId3" class="control-label"></label>
                <select asp-for="SubsectionId3" class="form-control" asp-items="ViewBag.SubsectionId3"></select>
                <span asp-validation-for="SubsectionId3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubsectionText3" class="control-label"></label>
                <input asp-for="SubsectionText3" class="form-control" />
                <span asp-validation-for="SubsectionText3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubsectionId4" class="control-label"></label>
                <select asp-for="SubsectionId4" class="form-control" asp-items="ViewBag.SubsectionId4"></select>
                <span asp-validation-for="SubsectionId4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubsectionText4" class="control-label"></label>
                <input asp-for="SubsectionText4" class="form-control" />
                <span asp-validation-for="SubsectionText4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubsectionId5" class="control-label"></label>
                <select asp-for="SubsectionId5" class="form-control" asp-items="ViewBag.SubsectionId5"></select>
                <span asp-validation-for="SubsectionId5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubsectionText5" class="control-label"></label>
                <input asp-for="SubsectionText5" class="form-control" />
                <span asp-validation-for="SubsectionText5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
